<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
	  <add key="IncidentalCapValue" value="700"/>
	  <add key="IncidentalCharge" value="100"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="PreCheckinCompleteRedirectURL" value="https://www.paradoxhotels.com/singapore/"/>
    <add key="PretCheckinCompleteRedirectURL" value="https://www.paradoxhotels.com/singapore/"/>
    <add key="ConnectionString" value="data source=94.201.38.128,1433;initial catalog=QC_CloudWebCheckinDB;user id=sbs_administrator;password=P@ssw0rd@2020;MultipleActiveResultSets=True;App=EntityFramework;"/>
    <!--Payment gateway-->
    <add key="MerchantAccount" value="SBS_POS"/>
    <add key="CostEstimator_MCC" value="8999"/>
    <add key="PaymentReturnURL" value="http://saavy-pay.com:8085/Home/PaymentResponseFromGateway"/>
    <add key="PaymentReturnURLCheckout" value="http://saavy-pay.com:8085/Checkout/PaymentResponseFromGateway"/>
    <add key="APIKey" value="AQE8hmfxKYPNbx1Gw0m/n3Q5qf3Ve4pMG4poTXZfyH24jVVSjdNzHdVRECNNGvR76GfRHRyLpekc3k9gNWVvEMFdWw2+5HzctViMSCJMYAc=-LH/Sw5IzPwRarzJ079F156FVhdr56r5Nte/Dm6QgWzM=-Bx(zZ8J,,]VTQkd."/>
    <!--http://localhost:8070/api/cloud/-->
    <add key="AdaptorAPIBaseURL" value="http://saavy-pay.com:8085/WebCheckin/api/cloud/"/>
    <add key="HotelTimeZone" value="Singapore Standard Time"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.6.1" debug="true"/>
    <!--To Remove the Asp.Net version inormation from response header (for security purpose)-->
    <httpRuntime targetFramework="4.6.1" enableVersionHeader="false"/>
    <!--To Secure Cookies (for security purpose)-->
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
  </system.web>
  <system.webServer>
    <!--To Secure Cookies (for security purpose)-->
    <rewrite>
      <outboundRules>
        <clear/>
        <rule name="Add SameSite" preCondition="No SameSite">
          <match serverVariable="RESPONSE_Set_Cookie" pattern=".*" negate="false"/>
          <action type="Rewrite" value="{R:0}; SameSite=lax"/>
        </rule>
        <preConditions>
          <preCondition name="No SameSite">
            <add input="{RESPONSE_Set_Cookie}" pattern="."/>
            <add input="{RESPONSE_Set_Cookie}" pattern="; SameSite=lax" negate="true"/>
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <security>
      <!--<requestFiltering allowDoubleEscaping="true" />-->
      <!--To Secure Cookies (for security purpose)-->
      <requestFiltering allowDoubleEscaping="true">
        <verbs>
          <add verb="TRACE" allowed="false"/>
          <add verb="TRACK" allowed="false"/>
        </verbs>
      </requestFiltering>
    </security>
    <httpProtocol>
      <customHeaders>
        <!--To Remove the powered by tag from response header (for security purpose)-->
        <remove name="X-Powered-By"/>
        <!--Adding Strict transport security in header (for security purpose)-->
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains"/>
        <!--To set cross domain policy in header (for security purpose)-->
        <add name="X-Permitted-Cross-Domain-Policies" value="none"/>
        <!--To Remove Referrer Policy from header (for security purpose)-->
        <add name="Referrer-Policy" value="no-referrer"/>
        <!--To avoid MIME type sniffing (for security purpose)-->
        <add name="X-Content-Type-Options" value="nosniff"/>
        <!-- Stop loading the page when a cross-site scripting attack is detected (for security purpose)-->
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <!--Ensure, that hackers don't iframe your site (for security purpose)-->
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <connectionStrings>
  <!--<add name="CloudDBEntities" connectionString="metadata=res://*/DataAccess.CloudDBModel.csdl|res://*/DataAccess.CloudDBModel.ssdl|res://*/DataAccess.CloudDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G2SV5Q4\SQLEXPRESS;initial catalog=WebCheckInCloudDB;user id=kiosk;password=kiosk;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="CloudDBEntities" connectionString="metadata=res://*/DataAccess.CloudDBModel.csdl|res://*/DataAccess.CloudDBModel.ssdl|res://*/DataAccess.CloudDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRINTSERVER\SQLEXPRESS;initial catalog=QC_CloudWebCheckinDB;user id=sbs_administrator;password=P@ssw0rd@2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<!--<add name="SwissotelStamfordEntities" connectionString="metadata=res://*/DataAccess.CloudDBModel.csdl|ressbs_administrator://*/DataAccess.CloudDBModel.ssdl|res://*/DataAccess.CloudDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-G2SV5Q4\SQLEXPRESS;initial catalog=WebCheckInCloudDB;user id=kiosk;password=kiosk;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<add name="SwissotelStamfordEntities" connectionString="metadata=res://*/DataAccess.CloudDBModel.csdl|res://*/DataAccess.CloudDBModel.ssdl|res://*/DataAccess.CloudDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRINTSERVER\SQLEXPRESS;initial catalog=QC_CloudWebCheckinDB;user id=sbs_administrator;password=P@ssw0rd@2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
		<!--<add name="SwissotelStamfordEntities" connectionString="metadata=res://*/DataAccess.CloudDBModel.csdl|res://*/DataAccess.CloudDBModel.ssdl|res://*/DataAccess.CloudDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rchotels.database.windows.net;initial catalog=FairmontSingapore;user id=IT$upp0rt;password=P@ssw0rd@2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!--<add name="SwissotelStamfordEntities" connectionString="metadata=res://*/DataAccess.CloudDBModel.csdl|res://*/DataAccess.CloudDBModel.ssdl|res://*/DataAccess.CloudDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rchotels.database.windows.net;initial catalog=swissotelstamford;user id=IT$upp0rt;password=P@ssw0rd@2020;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="db" xsi:type="Database" connectionString="server=94.201.38.128,1433;Database=QC_CloudWebCheckinDB;user id=sbs_administrator;password=P@ssw0rd@2020" commandType="StoredProcedure" commandText="[dbo].[Usp_InsertNLog]">
        <parameter name="@machineName" layout="${machinename}"/>
        <parameter name="@logged" layout="${date}"/>
        <parameter name="@level" layout="${level}"/>
        <parameter name="@message" layout="${message}"/>
        <parameter name="@logger" layout="${logger}"/>
        <!--<parameter name="@properties" layout="${all-event-properties:separator=|}" />
        <parameter name="@callsite" layout="${callsite}" />-->
        <parameter name="@exception" layout="${exception:tostring}"/>
        <parameter name="@actionName" layout="${event-properties:item=actionName}"/>
        <parameter name="@hostName" layout="${event-properties:item=hostName}"/>
        <parameter name="@reservationNameID" layout="${event-properties:item=reservationNameID}"/>
        <parameter name="@applicationName" layout="${event-properties:item=applicationName}"/>
        <parameter name="@ActionGroup" layout="${event-properties:item=actionGroup}"/>
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="db"/>
    </rules>
  </nlog>
</configuration>
<!--ProjectGuid: EC6CCE26-4C04-48B5-B208-E743EC68C359-->