
/*fonts*/
@font-face {
  font-family: 'Agenda-Light';
  src: url('../fonts/Agenda-Light.eot');
  src: url('../fonts/Agenda-Light.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Agenda-Light.woff2') format('woff2'),
      url('../fonts/Agenda-Light.woff') format('woff'),
      url('../fonts/Agenda-Light.ttf') format('truetype'),
      url('../fonts/Agenda-Light.svg#GillSansMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agenda-Medium';
  src: url('../fonts/Agenda-Medium.eot');
  src: url('../fonts/Agenda-Medium.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Agenda-Medium.woff2') format('woff2'),
      url('../fonts/Agenda-Medium.woff') format('woff'),
      url('../fonts/Neutraface2Display-Bold.ttf') format('truetype'),
      url('../fonts/Agenda-Medium.svg#Neutraface2Display-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  min-height: 100%;
}
body {
  min-height: 100vh;
}
.h100{ min-height: 100vh;}
a,
button,
i,
ul {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

body{background: #f8f8f8; font-family: 'Agenda-Light';overflow: auto;}
h1{font-size: 18px;font-family: 'Agenda-Medium';color: #000000;text-transform: uppercase;position: relative;padding-bottom: 10px;margin-bottom: 15px;display: none;}
h1::after{content:''; width:20px;height: 3px;background:#acacac;position: absolute ;bottom: 0;left: 0;}
h2{font-size: 16px;font-family: 'Agenda-Medium';color: #000000;text-transform: uppercase;}
.header{background: #ffffff;text-align: center;padding:25px 25px;
    -webkit-box-shadow: 0px 5px 26px -18px rgba(0,0,0,0.24);
-moz-box-shadow: 0px 5px 26px -18px rgba(0,0,0,0.24);
box-shadow: 0px 5px 26px -18px rgba(0,0,0,0.24);
position: fixed;width: 100%;z-index:5;height: 110px;
}
.header img{max-height: 100%;}
.layout{padding-top:205px;}
.layout1{padding-top:140px;}

.fxd-tab{position: fixed;width: 100%;top: 100px;padding-top: 40px;background: #f8f8f8;z-index:3;}
.steps-wrap{font-family: 'Agenda-Medium';font-size: 16px;background: #ffffff;}
.steps-wrap .row{border-bottom:2px #e0e0e0 solid;}
.steps-wrap a{display: block;padding: 20px 5px;}
.steps-wrap a:hover{text-decoration: none;}
.steps-wrap .value{padding-left: 15px;;}
.steps-wrap .count{display: block; display: flex;align-items: center;text-transform: uppercase;margin-bottom: 0;color: #acacac;line-height: 24px;}
.steps-wrap .count span.number{
    text-transform: uppercase;
     background: #acacac;
     color: #ffffff;
     border-radius: 28px;
     min-width: 24px;
     height:24px;
     font-size:16px;
     text-align: center;
     line-height: 24px;}
     .steps-wrap .active .count span.number{background:#97824b;}
     .steps-wrap .active .count span.value{color: #000000;}
     .steps-wrap .col{padding: 0;background: #ffffff;border-right:1px solid #ececec}
     .steps-wrap .col:last-child{border: 0 none;}
     .steps-wrap .active::after{content:''; width: 100%;height: 3px;background:#97824b;position: absolute ;bottom: 0;}
.container{background: #ffffff;}


.detail-wrapper{background:#f5f5f5;border: dashed 1px #5c5b5b;color: #5c5b5b;text-align: center;padding: 10px;margin-bottom: 30px;border-radius:8px;}
.detail-wrapper ul{padding: 0;margin: 0;}
.detail-wrapper ul li{display: inline-block;padding:10px 30px;}
.detail-wrapper ul li span{ font-family: 'Agenda-Light';font-size: 14px;}
.detail-wrapper ul li label{ font-family: 'Agenda-Medium';text-transform: uppercase;font-size: 16px;}
.detail-wrapper ul li span,.detail-wrapper ul li label{display: block;}
.detail-wrapper ul li:last-child{border-right: 0;}

.cstm-form .form-row > .col, .form-row > [class*="col-"]{padding-left: 10px;padding-right: 10px;}
.cstm-form .form-row{margin-left: -10px;margin-right: -10px;}

.form-group label{color: #5f6062;font-size: 14px;}
.form-group input.form-control{border-radius:0;border: 1px solid #acacac;border-radius:20px;height:44px;}
.dropdown-toggle {background: none;border: 1px solid #acacac;border-radius:20px;height: 44px;line-height:28px;}
.chk-cu{margin-top:35px;}
.chk-cu label{font-size: 16px;color: #000000;}
.form-sep{border-bottom: 2px dotted #5f7992;position: relative;margin: 20px 0;}
.form-sep img{position: absolute;right: 0;top:-17px;}
.info{background:url("../images/info_icon.png") no-repeat ;width: 20px;height: 20px;display: inline-block;position: relative;bottom: -5px;left: 6px;}
.dropdown-item.active, .dropdown-item:active{background: #737271;color: #ffffff;}

.btn-grp{margin-top:25px;}
.btn-grp button{font-size: 16px;text-transform: uppercase;font-family: 'Agenda-Medium';border: 0 none;padding:10px 0;width:148px;}
.btn-grp .btn_cancel{background: #acacac;color: #ffffff;border: 1px solid #acacac;border-radius: 24px;}
.btn-grp .btn_next{background:#9a006a;color: #ffffff;border: 1px solid #9a006a;border-radius: 24px;margin-left: 5px;}
.btn-grp .btn_cancel:hover{background: #969696;}
.btn-grp .btn_next:hover{background:#d41d84;color:#ffffff;border: 1px solid #d41d84;}
.btn-grp .btn_next span{display: inline-block;position: relative;background:url("../images/arrow_icon.png") ;height: 12px;width: 20px;}

.btnstyle{font-size: 16px;text-transform: uppercase;font-family: 'Agenda-Medium';border: 0 none;padding:10px 0;border-radius: 20px;}
.blue{background:#9a006a;color: #ffffff;border: 1px solid #9a006a;border-radius: 24px;padding:10px 25px;}
.blue:hover{background:#d41d84;color:#ffffff;border: 1px solid #d41d84;}

.grey{background: #acacac;color: #ffffff;min-width: 100px;}
.grey:hover{background: #969696;}



/*upgrade*/
.upg-wrap{margin: 15px 0;}
.upgrade{border:2px solid #e8e8e8;text-align: center;background: #f5f5f5;height:170px;border-radius: 12px 12px 0 0;}
.upgrade img{height:100%;width: 100%;border-radius: 12px 12px 0 0;}
.deluxe{background:url("../images/sample-upgrade1.png");height: 175px; background-size: 100% 100%;}
.suit{background:url("../images/sample-upgrade2.png");height: 175px; background-size: 100% 100%;}
.supreme{background:url("../images/sample-upgrade3.png");height: 175px; background-size: 100% 100%;}
.supreme1{background:url("../images/sample-upgrade3.png");height: 175px; background-size: 100% 100%;}
.upgrade img{position: relative;}
.upg-wrap .btn-wrap{ align-self: flex-end;;background:#e8e8e8;position: relative;padding:8px 8px;font-family: 'Agenda-Medium';width: 100%; bottom: 0;font-size: 16px;border-radius: 0 0 12px 12px;}
.btn-wrap label{margin:5px 2px 0 3px; font-family: 'Agenda-Light';font-size: 16px;}
.upg-wrap .btn-wrap a{font-family: 'Agenda-Medium';display: inline-block;background: #9a006a;border-radius: 3px;padding: 5px 15px;text-transform: uppercase;color: #ffffff;border: 1px solid #9a006a;border-radius: 18px;}
.upg-wrap .btn-wrap a:hover{text-decoration: none;color: #ffffff;background:#d41d84;border: 1px solid #d41d84}
.tick{background:url("../images/tick.png") center;height:50px;width:60px;display: block;position: absolute;right: -5px;top: 0px;z-index: 1; }
.message{padding:10px 20px;text-align: center;background:#f5f5f5;border-radius: 5px;margin-top: 40px;color:#5c5b5b;border: dashed 1px #e8e8e8;border-radius: 12px;}
/*popup*/
.hotel-details{padding: 10px;}
.hotel-details .image-wrap{background: #f5f5f5;text-align: center;border: 2px solid #ae8d4a;display: flex;align-items: center;height: 280px;border-radius:20px;}
.hotel-details  span.amount{font-size: 24px;display: block;} 
.hotel-details .logosm img{max-width: 100%;}
.hotel-details p{font-size: 14px;color: #5f6062;line-height: 1.4em;}
.hotel-details .btn-grp{margin-top:20px}


.plcy-wrapper{background: #f8f8f8;padding:25px;border-radius: 12px;}
.plcy-wrapper label{font-size: 13px;color: #606060;font-family: 'Agenda-Medium';text-transform: uppercase;}
.plcy-wrapper span{font-size: 13px;display: block;}
.plcy-wrapper span span{display: inline;color: #646363;}
.plcy-wrapper .total label{font-size: 16px;}
.plcy-wrapper .total span{font-size: 16px;color: #000000;}
.plcy-wrapper .total span span{color: #606060;font-size: 13px;padding-left: 5px;}
.plcy-wrapper hr{margin-right:100px;}

.sign-here .form-check{margin-bottom:30px;}
.sign-here .form-check label{font-family: 'Agenda-Light';font-size: 16px;text-transform: none;color: #000000;}
.sign-here .form-check label a{color:#000000;text-decoration: underline;}
label.signlbl{font-family: 'Agenda-Light';font-size: 16px;text-transform: none;color: #000000;margin-top:10px}
.sign{position: relative;}
/*canvas*/
.signature-pad--actions .buttons button{background:#737271;color: #ffffff;border: 0 none;padding: 5px 10px;border-radius: 20px;}
.signature-pad--actions .buttons button:hover{background:#8d8c8a;}
.signature-pad--footer{color:#606060;}



.payment h5{font-size: 14px;}
.payment .cvv{background:url("../images/cvv_icon.png") no-repeat center right; padding-right:50px;}
.payment .radio-wrap{margin:0 0 20px 0;}
.payment .radio-wrap h5{margin-bottom: 15px;}
.payment .radio-wrap label{font-size: 14px;color: #5f6062;padding-left: 3px;;}
.payment .radio-wrap .form-check-inline{margin-right: 25px;}

.payment-details{background: #f5f5f5;padding: 20px;border-radius: 20px;} 
.payment-details h3{font-size: 16px;font-family: 'Agenda-Medium';margin-bottom: 25px;}
.payment-details label{font-size: 13px;color: #606060;font-family: 'Agenda-Medium';text-transform: uppercase;}
.payment-details span{font-size: 13px;display: block;}
.payment-details span span{color: #606060;font-size: 13px;padding-left: 5px;display: inline;}

.cstm-payment{background: #fff9ec url("../images/bg-bill.png") repeat-x bottom;padding: 20px;} 
.cstm-payment h4{font-size: 16px;font-family: 'Agenda-Medium';margin-bottom: 25px;}
.cstm-payment label{font-size: 13px;color: #606060;font-family: 'Agenda-Medium';text-transform: uppercase;}
.cstm-payment span{font-size: 13px;display: block;}
.cstm-payment span span{color: #606060;font-size: 13px;padding-left: 5px;display: inline;}
.cstm-payment hr{border-style: dashed;}
.cstm-payment .total label,.cstm-payment .total span{color: #000;}

.bill-view h3{font-size:18px;font-family: 'Agenda-Medium';margin-bottom:15px;}

.content{min-height:350px;}

.btn_upload{font-size: 16px;text-transform: uppercase;font-family: 'Agenda-Medium';border: 0 none;padding:10px 15px;background: #ae8d4a;border-radius: 3px;color: #ffffff;min-width:140px;}
.btn_upload img{display: inline-block;position: relative;top: -3px;margin-right: 8px;}
.btn_upload:hover{background: #8b6a28;}
.button-wrapper1{text-align: center;}
.button-wrapper1 button{background: #737271;color: #ffffff;min-width: 100px;color: #fff;border:0 none;padding:8px;border-radius: 20px;}
.button-wrapper1 button.style1{background: #737271;color: #ffffff;min-width: 100px;color: #fff;border:0 none;padding:8px;}
.button-wrapper1 button.style1:hover{background:#8d8c8a;}
.button-wrapper1 button.style2:hover{background:#969696;}
.button-wrapper1 button.style2{background: #acacac;color: #ffffff;min-width: 100px;color: #fff;border:0 none;padding:8px;}

.file-upload{background:#f7f7f7;border-radius: 5px;text-align: center;padding: 20px;margin-top: 25px;}
.file-upload ul{margin:0;padding: 0;}
.file-upload ul li{display: inline-block;text-align: center;}
.file-upload ul li .file{position: relative;width: 100px;margin: 8px;}
.file-upload ul li .file .icon{font-size:3em;background: #eaf0f5;border-radius:20px;padding:10px;color: #c9c9c9;
    -webkit-box-shadow: -1px 13px 13px -10px rgba(0,0,0,0.35);
    -moz-box-shadow: -1px 13px 13px -10px rgba(0,0,0,0.35);
    box-shadow: -1px 13px 13px -10px rgba(0,0,0,0.35);
}
.file-upload ul li .file label{margin-bottom: 0;}
.file-upload ul li .file a{position: absolute;top: 2px;right: -5px;top: -7px;display: block;background: #d13447;width:25px;height: 25px;border-radius: 25px;color: #ffffff;}
.file-upload ul li .file a:hover{background:#951a28;}
.file-upload ul li .file.sucess .icon{background: #e5f6ee;color: #4d9b84;}

.file-up-wrap{padding:10px 20px;}
.file-up-wrap .file-wrap{margin-bottom: 20px;}
.file-up-wrap .custom-file label{white-space: pre;overflow: hidden;}
.file-up-wrap .lb{display: block;padding-left:28px;position: relative;}
.file-up-wrap .lb span{display: inline-block;background:#e5e5e5;color:#717171;padding:1px 4px;margin-right:8px;line-height: normal;
    font-family: 'Agenda-Medium';height:20px;width: 20px;border-radius: 20px;text-align: center;
    line-height: 19px;position: absolute;left: 0;top:1px}
.support{display: inline-block;padding: 3px 12px;border-radius: 3px;background-color: #e5e5e5;color: #9f9f9f;font-size: 13px;}
.file-up-wrap  .suces-sp.lb span{background:#e5e5e5;color:#717171;}
.file-up-wrap .img-wrap{width: 200px;margin-top:20px;margin:0 auto;position: relative;border-radius: 12px;}
.file-up-wrap .img-wrap{padding:3px; background: #d4ffd8;}
.file-up-wrap .img-wrap img{border-radius: 12px;}
.file-up-wrap  .alert-success{border: 1px solid #c3e6cb;}
.file-up-wrap .cstm-alert{padding: 2px 8px;border-radius: 3px;font-size: 14px;}
.file-up-wrap .cstm-alert::before{clear: both;}
.file-up-wrap .validated{display: block;background: url("../images/tick-icon.png") no-repeat center center;width:34px;height:34px;position: absolute;top:50%;left:50%;margin-top:-17px;margin-left:-17px;}

.user-list{text-align: center;}
.user-list ul{margin:0;padding: 0;}
.user-list ul li{display: inline-block;background: #f3f5f3;border-radius:20px;padding:30px 25px;font-family: 'Agenda-Medium';margin: 20px;width:215px;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: -3px 12px 15px -10px rgba(0,0,0,0.43);
  -moz-box-shadow: -3px 12px 15px -10px rgba(0,0,0,0.43);
  box-shadow: -3px 12px 15px -10px rgba(0,0,0,0.43);
}
.user-list ul li label{display: block;text-transform: uppercase;font-size: 16px;font-family:'Agenda-Medium';;}
.user-list ul li .pic{margin-bottom:15px;}
.user-list ul li a{background:#9a006a;display: block;color: #fff;padding:12px 20px;font-size: 12px;border-radius:20px;}
.user-list ul li a:hover{text-decoration: none;background:#d41d84;}
.user-list ul li.sucess{background: #f0fff2;}
.user-list ul li.sucess a{background:#3bb54a;}

.cstm-m {
    height: 250px;
    margin-top: 45px;
}
.cstm-m .custom-file-label::after{
    position: relative!important;text-align: center;top: 25px;
    background:url("../images/document_icon.png") no-repeat center center;
    border:1px dashed #ae8d4a;border-radius: 3px;
width:150px;padding:58px 0;margin: 0 auto;content:''!important;word-break: break-all;
}
.cstm-m label{border:1px solid #ffffff!important;background: #fff;height:200px;text-align: center;box-shadow:none!important;}


.qr{background:#f8f8f8;border-radius: 3px;text-align: center;padding: 30px;margin:10px 0;border-radius:20px;}
.qr .code{margin-bottom:30px;}

.buttonwrapper{padding-bottom:5px;}
.buttonwrapper a{font-family: 'Agenda-Medium';text-transform: uppercase;color: #202020;display: inline-block; margin-top:20px;}
.buttonwrapper ul{margin: 0;padding: 0;}
.buttonwrapper ul li{display:inline-block;}
.buttonwrapper ul li a{display: inline-block;border: 2px solid #000000;width: 160px;height: 50px;border-radius:8px;margin: 0 5px;}
.buttonwrapper a.apple{background:#000000 url("../images/apple-button.png") no-repeat center center;}
.buttonwrapper a.google{background:#000000 url("../images/gpay-button.png") no-repeat center center;}
.buttonwrapper a.apple:hover{background:#323232 url("../images/apple-button.png") no-repeat center center;}
.buttonwrapper a.google:hover{background:#323232 url("../images/gpay-button.png") no-repeat center center;}

.ok_btn{display:inline-block;font-size: 16px;text-transform: uppercase;font-family: 'Agenda-Medium';border: 0 none;padding:12px 40px;background: #9a006a;border-radius: 3px;color: #ffffff;min-width:140px;border-radius: 24px;}
.ok_btn img{display: inline-block;position: relative;top: -3px;margin-right: 8px;}
.ok_btn:hover{background:#d41d84;text-decoration: none;color: #ffffff;}


/*modal*/
.cstm-modal .modal-content{border-radius:20px;}
.cstm-modal .modal-header{background: none;color:#000000;border-radius: 0;font-family: 'Agenda-Medium';text-transform: uppercase;}
.cstm-modal .modal-header h5{font-size: 16px;}
.cstm-modal .close{opacity:1;}
.cstm-modal .close_icon{background:url("../images/close_icon.png");height:23px;width: 23px;display: block;}
.cstm-modal .modal-body p{font-size: 14px;color: #5f6062;}


.hotel-view{max-width: 640px;}
.hotel-view .modal-content{border-radius:20px;}

.bill-view{max-width:400px;}
.bill-view .modal-content{border-radius: 0;}
.bill-view  .modal-body{padding: 0;}
.bill-view .modal-header h5{font-size: 18px;}
.bill-view .button-wrapper button{margin: 0 10px;}
 
.privacy-model{max-width: 640px;}
.upload-model{max-width:540px;}

body.modal-open {
    overflow: inherit;
    padding-right: 0 !important;
  }

/*timepicker*/
.gj-picker-md [role="header"]{background:#28476f;}
.gj-picker-md [role="footer"] button.gj-button-md{color:#28476f;}
.gj-picker-md .arrow-begin,.gj-picker-md [role="body"] [role="arrow"]{background:#28476f;}
.gj-picker-md .arrow-end{border-color:#28476f ;}
.time-cstm .gj-textbox-md{padding: .375rem .75rem;}
.time-cstm .gj-icon{right:8px;top:6px}

/*covid*/
.question{margin:10px 0;}
.question .qs{padding: 20px;}
.question .qs p{}
.question .alert{border-radius: 24px;}
.question .qs p span{display: inline-block;
    background: #e5e5e5;
    color: #717171;
    padding: 1px 4px;
    margin-right: 8px;
    line-height: normal;
    font-family: 'Agenda-Medium';
    height: 24px;
    width: 24px;
    border-radius: 24px;
    text-align: center;
    line-height:22px;
    position: relative;;
    left: 0;
    top:-1px;}
.question .ans{margin-bottom: 10px;}
.question .msg p{font-size: 14px;color: #7f7f7f;}
.button-center{text-align: center;}
.button-center .btn_blue{background: #9a006a;font-size: 16px;
  border-radius: 22px;
    text-transform: uppercase;
    font-family: 'Agenda-Medium';
    border: 0 none;
    padding: 10px 0;
    width: 150px;color: #ffffff;}
    .button-center .btn_blue:hover{background:#d41d84;}
    .custom-control-input:checked ~ .custom-control-label::before{border-color: #d41d84;
      background-color: #d41d84;}
  .info-ms a{color:#d41d84;}
/*social media*/
.social-media{text-align: center;margin:30px 0 15px 0;}
.social-media ul {padding: 0;}
.social-media ul li{display: inline-block;}
.social-media ul li a{display: block;font-size: 24px;margin: 0 5px;color:#3c5d88}
.social-media ul li a:hover{color:#28476f;}

/*address*/
.address{text-align: center;border-top:solid 1px #f5f5f5;padding-top: 10px;margin-top: 20px;}
.address label{display:inline-block;font-size: 13px;color:#595959;}
.address label a{color: #000000;text-decoration: underline;}
.address label a:hover{text-decoration: none;}



/*new*/
.left-menu{background: #000000;}
.pd-0{padding: 0;}

.room-bg{background: url("../images/room-bg.jpg") left center;background-size: cover ;}
.bg-blk{background: #000000;}
.left-menu .space{height:52px;}
.menu img{}
.menu .logo{margin:0 50px 40px 0;}
.menu ul{margin: 0;padding: 0;}
.menu ul li{margin: 0 0 10px 0;padding: 0;list-style-type: none;display: block;position: relative;z-index: 1;}
.menu ul li a{font-family: 'Agenda-Medium';display: block;color: #5f6062;padding:15px 20px;text-transform: uppercase;}
.menu ul li a label{margin-bottom: 0;display: inline-block;}
.menu ul li a:hover{text-decoration: none;}
.menu ul li a span{font-family: 'Agenda-Medium';display: inline-block;background: #fff;color: #161819;border-radius: 28px;min-width: 33px;height: 33px;font-size:18px;
  text-align: center;margin-left: 10px;font-weight: 500;line-height:32px;border: 1px solid #acacac;position: absolute;right:15px;top:10px;
  -webkit-box-shadow: -3px 12px 15px -10px rgba(0,0,0,0.43);
  -moz-box-shadow: -3px 12px 15px -10px rgba(0,0,0,0.43);
  box-shadow: -3px 12px 15px -10px rgba(0,0,0,0.43);
}
  .menu ul li a:hover{background:#9a006a;border-radius:35px;color: #ffffff;}
  .menu ul li.active a{background: #9a006a;border-radius:35px;color: #ffffff;}
  .menu ul li.active a span{color: #000000;}
  .min-height{min-height:548px;}
  .content-wrapper{background: #ffffff;padding:65px;border-radius: 30px;margin:50px 0 25px -51px;}

  .no-menu .left-menu .space{height:150px;}
/*loader*/
.loader-screen{
  background-color: rgba(5, 5, 6, 0.8);
  background: rgba(5, 5, 6, 0.8);
  color: rgba(5, 5, 6, 0.8);
  position: fixed;width: 100%;height: 100%;z-index: 100;}
  @keyframes ldio-v55tnqe6ie-1 {
    0% { top: 18px; height: 64px }
    50% { top: 30px; height: 40px }
    100% { top: 30px; height: 40px }
  }
  @keyframes ldio-v55tnqe6ie-2 {
    0% { top: 20.999999999999996px; height: 58.00000000000001px }
    50% { top: 30px; height: 40px }
    100% { top: 30px; height: 40px }
  }
  @keyframes ldio-v55tnqe6ie-3 {
    0% { top: 24px; height: 52px }
    50% { top: 30px; height: 40px }
    100% { top: 30px; height: 40px }
  }
  .ldio-v55tnqe6ie div { position: absolute; width: 15px }.ldio-v55tnqe6ie div:nth-child(1) {
    left: 17.5px;
    background: #980d68;
    animation: ldio-v55tnqe6ie-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.2s
  }
  .ldio-v55tnqe6ie div:nth-child(2) {
    left: 42.5px;
    background: #d41d84;
    animation: ldio-v55tnqe6ie-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: -0.1s
  }
  .ldio-v55tnqe6ie div:nth-child(3) {
    left: 67.5px;
    background: #fb60b7;
    animation: ldio-v55tnqe6ie-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: undefineds
  }
  
  .loadingio-spinner-pulse-yd5dl03y9fi {
    width: 98px;
    height: 98px;
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left:-49px;
    margin-top:-49px;
    overflow: hidden;
    background: rgba(NaN, NaN, NaN, 0);
  }
  .ldio-v55tnqe6ie {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.98);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-v55tnqe6ie div { box-sizing: content-box; }

/*loader*/


.layout-inro{height: 100vh;padding-top: 112px;background:url("../images/hotel-full-bg.png") no-repeat center 83px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.layout-inro .continue{text-align: center;display: block;padding:16px 20px;border-radius: 35px;background-color: #97824b;font-family: 'Agenda-Medium';
  -webkit-box-shadow: 10px 10px 68px 39px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 68px 39px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 68px 39px rgba(0,0,0,0.75);
  width: 190px;color: #fff;text-transform: uppercase;}
.layout-inro .continue:hover{text-decoration: none;background:#b7a370;color: #fff;}


.layout-inro1{height: 100vh;padding-top: 112px;background:#e4e4e4 url("../images/building-bg.jpg") no-repeat top center;
  background-size: cover;
  padding-bottom:35px;
  display: flex;
  align-items:flex-end;
  justify-content: center;
}
.layout-inro1 .continue{text-align: center;display: block;padding:16px 20px;border-radius: 35px;background-color:#980d68;font-family: 'Agenda-Medium';
  -webkit-box-shadow: 2px 7px 78px -19px rgba(0,0,0,0.52);
  -moz-box-shadow: 2px 7px 78px -19px rgba(0,0,0,0.52);
  box-shadow: 2px 7px 78px -19px rgba(0,0,0,0.52);
  width: 190px;color: #fff;text-transform: uppercase;
  margin-top:auto;
  font-size: 18px;
}
.layout-inro1 .continue:hover{text-decoration: none;background:#d41d84;color: #fff;}
.building-bg{background: url("../images/building-bg.jpg") center left;background-size: cover;}
.logo-btn{background:#ffffff;border:15px solid rgba(255, 255, 255, 0.6);
  -webkit-background-clip: padding-box;/* for Safari */
  background-clip: padding-box;/* for IE9+, Firefox 4+, Opera, Chrome */
display: inline-block;
padding: 85px 37px;
border-radius: 50%;
top: 50%;
left: 50%;
margin-top:-137px;margin-left: -137px;
position: absolute;
-webkit-box-shadow: -1px 13px 13px -10px rgba(0,0,0,0.35);
-moz-box-shadow: -1px 13px 13px -10px rgba(0,0,0,0.35);
box-shadow: -1px 13px 13px -10px rgba(0,0,0,0.35);
}
/*start*/
.arrow{
  position: absolute;
  left:50%;
  transform: translate(-50%,-50%);
  bottom: 140px;
}
.arrow span{
  display: block;
  width:20px;
  height:20px;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  transform: rotate(45deg);
  margin: -10px;
  animation: animate 2s infinite;
}
.arrow span:nth-child(2){
  animation-delay: -0.2s;
}
.arrow span:nth-child(3){
  animation-delay: -0.4s;
}
@keyframes animate {
  0%{
      opacity: 0;
      transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
      opacity: 1;
  }
  100%{
      opacity: 0;
      transform: rotate(45deg) translate(20px,20px);
  }
}

/*start*/
@media (max-width:991px){
    .steps-wrap{font-size: 13px;}
    .detail-wrapper ul li label{font-size: 14px;}
    .plcy-wrapper hr{margin-right:0;}
    .layout{padding-top:205px;}
    .layout1{padding-top:125px;}

    .signature-pad{min-height:200px;}
    .signature-pad--body canvas{height:150px;}
    .menu ul li a{font-size: 14px;}
}
@media (max-width:767px){
    .steps-wrap .count span.value{display: none;}
    .detail-wrapper ul li{border-right: 0;display: block;}
    .detail-wrapper ul li label{font-size: 16px;}
    h1{display: block;}
   .mb-none{display: none;}

   .hotel-details .image-wrap{margin-bottom: 25px;}
   .content-wrapper{padding:35px;}
   .left-menu{min-height:auto!important;}
   .left-menu .space{height:147px;}
   .content-wrapper{margin: 10px;}
   .menu{text-align: center;position:fixed;width: 100%;z-index: 1;left: 0;top:0;background: #000000;}
   .menu .logo{margin:0;background: #ffffff;padding: 10px;}
   .menu .logo img{width: 150px;}
  .menu ul{margin: 0;padding: 0;background: #000000;}
  .menu ul li{display: inline-block;margin:0 3px;}
  .menu ul li a{padding: 12px;}
  .menu ul li.active a{background: none;}
  .menu ul li.active a span{background:#9a006a;color: #ffffff;}
  .menu ul li a:hover{background:none;border-radius:35px;color: #ffffff;}
  .menu ul li a:hover span{background:#9a006a;color: #ffffff;}
  .menu ul li a span{position: inherit;margin-left: 0;}
  .menu ul li a label{display: none;}

  .no-menu .left-menu .space{height:90px;}

  .logo-btn{padding: 61px 13px;margin-top: -170px;
    margin-left: -119px;}

}
.sucess_icon
{
    text-align: center;
}

    .sucess_icon img
    {
        margin: 20px;
    }

    .sucess_icon label
    {
        font-family: 'Agenda-Medium';
        text-transform: uppercase;
        display: block;
    }
/*sucess*/
.sucess
{
    background: #f8f8f8;
    border-radius: 20px;
    text-align: center;
    padding: 30px;
    margin: 10px 0;
    font-size: 16px;
}

    .sucess label
    {
        font-size: 24px;
        font-family: 'Agenda-Medium';
    }

    .sucess .code
    {
        margin-bottom: 30px;
    }
.btn_upload
{
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Franklin Gothic';
    border: 0 none;
    padding: 10px 15px;
    background: #9a006a;
    border-radius: 22px;
    color: #ffffff;
    min-width: 140px;
}

    .btn_upload img
    {
        display: inline-block;
        position: relative;
        top: -3px;
        margin-right: 8px;
    }

    .btn_upload:hover
    {
        background: #d41d84;
    }

.mail
{
    padding: 30px;
    background: #f8f8f8 url("../images/mail-bg.png") no-repeat bottom right;
    margin-top: 20px;
    border-radius: 20px;
}

    .mail button
    {
        border-radius: 0;
    }

    .mail label
    {
        margin-bottom: 10px;
    }

.mail-form
{
    width: 100%;
    padding-right: 75px;
    position: relative;
}

    .mail-form button
    {
        position: absolute;
        top: 0;
        right: 0;
        border: 2px solid #8d8c8a;
        background: #f5f5f5;
        color: #8d8c8a;
    }

        .mail-form button:hover
        {
            background: #8d8c8a;
            color: #fffdf8;
        }

    .mail-form .form-control
    {
        width: 100%;
        border-radius: 0;
        height: 40px;
    }
/*social media*/
.social-media
{
    text-align: center;
    margin: 30px 0 15px 0;
}

    .social-media ul
    {
        padding: 0;
    }

        .social-media ul li
        {
            display: inline-block;
        }

            .social-media ul li a
            {
                display: block;
                font-size: 24px;
                margin: 0 5px;
                color: #9a006a
            }

                .social-media ul li a:hover
                {
                    color: #d41d84;
                }
