
.svg-flat-alipay {
    background: url("svg/sprite.css.svg") 14.285714285714286% 0 no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-amex {
    background: url("svg/sprite.css.svg") 71.42857142857143% 11.104731281580156% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-default {
    background: url("svg/sprite.css.svg") 0 11.104731281580156% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-diners {
    background: url("svg/sprite.css.svg") 14.285714285714286% 11.104731281580156% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-discover {
    background: url("svg/sprite.css.svg") 0 22.20946256316031% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-elo {
    background: url("svg/sprite.css.svg") 14.285714285714286% 22.20946256316031% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-hipercard {
    background: url("svg/sprite.css.svg") 28.571428571428573% 0 no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-jcb {
    background: url("svg/sprite.css.svg") 28.571428571428573% 11.104731281580156% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-maestro {
    background: url("svg/sprite.css.svg") 0 33.31419384474047% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-maestro-old {
    background: url("svg/sprite.css.svg") 14.285714285714286% 33.31419384474047% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-mastercard {
    background: url("svg/sprite.css.svg") 28.571428571428573% 33.31419384474047% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-mastercard-old {
    background: url("svg/sprite.css.svg") 42.857142857142854% 0 no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-paypal {
    background: url("svg/sprite.css.svg") 42.857142857142854% 11.104731281580156% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-security-code {
    background: url("svg/sprite.css.svg") 42.857142857142854% 22.20946256316031% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-unionpay {
    background: url("svg/sprite.css.svg") 0 44.41892512632062% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-verve {
    background: url("svg/sprite.css.svg") 14.285714285714286% 44.41892512632062% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-flat-visa {
    background: url("svg/sprite.css.svg") 28.571428571428573% 44.41892512632062% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-alipay {
    background: url("svg/sprite.css.svg") 42.857142857142854% 44.41892512632062% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-amex {
    background: url("svg/sprite.css.svg") 0 55.52365640790078% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-default {
    background: url("svg/sprite.css.svg") 14.285714285714286% 55.52365640790078% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-diners {
    background: url("svg/sprite.css.svg") 28.571428571428573% 55.52365640790078% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-discover {
    background: url("svg/sprite.css.svg") 42.857142857142854% 55.52365640790078% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-elo {
    background: url("svg/sprite.css.svg") 57.142857142857146% 0 no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-hipercard {
    background: url("svg/sprite.css.svg") 57.142857142857146% 11.104731281580156% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-jcb {
    background: url("svg/sprite.css.svg") 57.142857142857146% 22.20946256316031% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-maestro {
    background: url("svg/sprite.css.svg") 57.142857142857146% 33.31419384474047% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-maestro-old {
    background: url("svg/sprite.css.svg") 57.142857142857146% 44.41892512632062% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-mastercard {
    background: url("svg/sprite.css.svg") 0 66.62838768948095% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-mastercard-old {
    background: url("svg/sprite.css.svg") 14.285714285714286% 66.62838768948095% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-paypal {
    background: url("svg/sprite.css.svg") 28.571428571428573% 66.62838768948095% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-security-code {
    background: url("svg/sprite.css.svg") 42.857142857142854% 66.62838768948095% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-unionpay {
    background: url("svg/sprite.css.svg") 57.142857142857146% 66.62838768948095% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-verve {
    background: url("svg/sprite.css.svg") 71.42857142857143% 0 no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-mono-visa {
    background: url("svg/sprite.css.svg") 0 0 no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-alipay {
    background: url("svg/sprite.css.svg") 71.42857142857143% 22.20946256316031% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-amex {
    background: url("svg/sprite.css.svg") 71.42857142857143% 33.31419384474047% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-default {
    background: url("svg/sprite.css.svg") 71.42857142857143% 44.41892512632062% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-diners {
    background: url("svg/sprite.css.svg") 71.42857142857143% 55.52365640790078% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-discover {
    background: url("svg/sprite.css.svg") 0 77.73311897106109% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-elo {
    background: url("svg/sprite.css.svg") 14.285714285714286% 77.73311897106109% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-hipercard {
    background: url("svg/sprite.css.svg") 28.571428571428573% 77.73311897106109% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-jcb {
    background: url("svg/sprite.css.svg") 42.857142857142854% 77.73311897106109% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-maestro {
    background: url("svg/sprite.css.svg") 57.142857142857146% 77.73311897106109% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-maestro-old {
    background: url("svg/sprite.css.svg") 71.42857142857143% 77.73311897106109% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-mastercard {
    background: url("svg/sprite.css.svg") 0 88.83785025264125% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-mastercard-old {
    background: url("svg/sprite.css.svg") 14.285714285714286% 88.83785025264125% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-paypal {
    background: url("svg/sprite.css.svg") 28.571428571428573% 88.83785025264125% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-security-code {
    background: url("svg/sprite.css.svg") 42.857142857142854% 88.83785025264125% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-unionpay {
    background: url("svg/sprite.css.svg") 57.142857142857146% 88.83785025264125% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-verve {
    background: url("svg/sprite.css.svg") 71.42857142857143% 88.83785025264125% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-outline-visa {
    background: url("svg/sprite.css.svg") 85.71428571428571% 0 no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-single-alipay {
    background: url("svg/sprite.css.svg") 85.71428571428571% 11.104731281580156% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-single-amex {
    background: url("svg/sprite.css.svg") 85.71428571428571% 22.20946256316031% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-single-diners {
    background: url("svg/sprite.css.svg") 85.71428571428571% 33.31419384474047% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-single-discover {
    background: url("svg/sprite.css.svg") 85.71428571428571% 44.52886663213032% no-repeat;
    width: 122px;
    height: 79.08px;
}

.svg-single-elo {
    background: url("svg/sprite.css.svg") 85.71428571428571% 53.36886495693622% no-repeat;
    width: 122px;
    height: 46.01px;
}

.svg-single-hipercard {
    background: url("svg/sprite.css.svg") 85.71428571428571% 62.52949979853796% no-repeat;
    width: 122px;
    height: 79.08px;
}

.svg-single-jcb {
    background: url("svg/sprite.css.svg") 85.71428571428571% 73.72674552135967% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-single-maestro {
    background: url("svg/sprite.css.svg") 85.71428571428571% 87.0443197384119% no-repeat;
    width: 122px;
    height: 95.07px;
}

.svg-single-maestro-old {
    background: url("svg/sprite.css.svg") 0 99.9425815342214% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-single-mastercard {
    background: url("svg/sprite.css.svg") 100% 0 no-repeat;
    width: 122px;
    height: 95.01px;
}

.svg-single-mastercard-old {
    background: url("svg/sprite.css.svg") 100% 13.638321084060633% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-single-paypal {
    background: url("svg/sprite.css.svg") 100% 24.80429401945548% no-repeat;
    width: 122px;
    height: 79.08px;
}

.svg-single-unionpay {
    background: url("svg/sprite.css.svg") 100% 36.0946830500689% no-repeat;
    width: 122px;
    height: 77.36px;
}

.svg-single-verve {
    background: url("svg/sprite.css.svg") 100% 45.375634797968644% no-repeat;
    width: 122px;
    height: 49.36px;
}

.svg-single-visa {
    background: url("svg/sprite.css.svg") 100% 54.28485300872761% no-repeat;
    width: 122px;
    height: 77.36px;
}


