@{
    ViewBag.Title = "About";
}

    <div class="container">
        @*<h2>Reservation Not found</h2>
        <h3>Please contact our guest releation for more information</h3>

        <p>Use this area to provide additional information.</p>*@
    </div>

